body {
    background-color: #424141;
}

.topmenu {
    overflow: hidden;
    background-color: #333;
}

.topmenu b {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 11px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topmenu b:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
  }

.topmenu b.active {
    background-color: #04AA6D;
    color: white;
}

.tab_economy {

    left: 50%;
    color: white;
    text-align-last: center;
}

.tab_economy p {
    font-size: 20px;
}

.end_turn_button {
    position: absolute;
    width: 160px;
    height: 50px;
    right: 10px;
    top: 60px;
    background-color: #333;
    border-color: #333;
    color: white;
}

.end_turn_button:hover {
    cursor: pointer;
    background-color: #ddd;
    color: black;
}

.end_turn_button:active {
    background-color: #04AA6D;
    color: white;
}

.end_turn_button:disabled {
    background-color: transparent;
    color: gray;
}

.date {
    position: absolute;
    width: 100px;
    height: 50px;
    right: 70px;
    top: 10px;
    color: white;
}

.date_m {
    position: absolute;
    width: 100px;
    height: 50px;
    right: 70px;
    top: 30px;
    color: white;
}

.buildings {
    border-style:solid;
    margin-right: 500px;
    margin-left: 500px;
    margin-bottom: 50px;
}

.buildings_image {
    position: relative;
    right: 350px;
}

.building_name {
    position: relative;
    top: 40px;
    right: 300px;
    font-size: 30px;
}

.building_level {
    position: relative;
    top: 40px;
    right: 300px;
    font-size: 30px;
}

.building_income {
    position: relative;
    top: 40px;
    right: 300px;
    font-size: 30px;
}

.building_upgrade {
    position: relative;
    top: -50px;
    right: -290px;
    font-size: 20px;
    width: 310px;
    height: 70px;
}

.building_upgrade_cost {
    position: relative;
    top: -200px;
    right: -290px;
    font-size: 30px;
}

.building_income_per {
    position: relative;
    top: 150px;
    right: -290px;
    font-size: 30px;
}

.tab_military {
    left: 50%;
    color: white;
    text-align-last: center;
}

.tab_military p {
    font-size: 20px;
}

.decisions {
    border-style:solid;
    margin-right: 500px;
    margin-left: 500px;
    margin-bottom: 50px;
    padding: 10px;
}

.decision_name {
    font-size: 25px;
}

.decision_button {
    width: 200px;
    height: 80px;
    font-size: 20px;
}

.tab_social {
    left: 50%;
    color: white;
    text-align-last: center;
}

.tab_social p {
    font-size: 20px;
}

.alert_2 {
    position: relative;
    padding: 20px;
    margin: 20%;
    border-style: solid;
    text-align: center;
    background-color: #333;
    color: white;
}

.alert_2 h1 {
    font-weight: bold;
    border-style: dashed;
    padding: 15px;
}

.alert_2 p {
    font-size: 22px;
}

.option1 {
    position: relative;
    right: 320px;
    width: 120px;
    height: 50px;
    font-size: 15px;
}

.option2 {
    position: relative;
    left: 320px;
    width: 120px;
    height: 50px;
    font-size: 15px;
}

.event_button {
    position: absolute;
    width: 160px;
    height: 50px;
    right: 10px;
    top: 120px;
    background-color: red;
    border-color: #333;
    color: white;
    display: none;
}

.event_button:hover {
    cursor: pointer;
    background-color: #ddd;
    color: black;
}

.event_button:active {
    background-color: #04AA6D;
    color: white;
}

.effect1 {
    position: absolute;
    text-align: center;
    right: 900px;
    top: 160px;
    padding: 10px;
}

.effect1_desc{
    position: absolute;
    text-align: center;
    right: 840px;
    top: 240px
}

.effect2 {
    position: relative;
    left: 380px;
    top: 0px;
    padding: 10px;
}

.effect2 p{
    position: relative;
    left: 380px;
    top: -50px;
}

.battle_menu {
    position: relative;
    padding: 20px;
    margin: 20%;
    border-style: solid;
    text-align: center;
    background-color: #333;
    color: white;
}

.battle_menu h1 {
    font-weight: bold;
    border-style: dashed;
    padding: 15px;
}

.battle_menu p {
    font-size: 22px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.normal_button {
    width: 120px;
    height: 50px;
    font-size: 15px;
    padding: 10px;
    margin: 20px;
}

.end_battle {
    position: relative;
    top: 260px;
    left: 500px;
    width: 120px;
    height: 50px;
}